<div class="flex flex-col m-auto h-full w-[90%] gap-4 p-4">
  @if(this.loading()) {
  <div class="flex flex-col justify-center items-center gap-2">
    <mat-spinner diameter="50"></mat-spinner>
    <p>Loading weather data...</p>
  </div>
  } @else if(this.error()) {
  <div class="flex flex-col justify-center items-center gap-2">
    <mat-icon color="warn" class="text-4xl">error</mat-icon>
    <p class="text-red-600">{{ this.error() }}</p>
  </div>
  } @else if(this.weatherData()) { @if(weatherData(); as weather) {
  <div class="text-center mb-4">
    <h2 class="text-2xl font-bold">7 Day Weather Forecast</h2>
    @if(weather.cityName) {
    <p class="text-xl text-gray-700">{{ weather.cityName }}</p>
    }
    <p class="text-sm text-gray-500">
      {{ weather.timezone }} ({{ weather.timezoneAbbreviation }}) | Elevation:
      {{ weather.elevation }}m
    </p>
  </div>

  <div class="grid grid-cols-7 gap-5 w-full px-4">
    @for(day of weather.weatherData.daily.time; track day; let i = $index) {
    <mat-card [class.today]="isToday(day)" class="flex flex-col">
      <mat-card-header class="justify-center">
        <mat-card-title>{{ day | date : 'EEEE, MMM d' }}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="flex-grow">
        <div class="flex flex-row gap-2 justify-center items-center p-4"></div>
      </mat-card-content>
      <mat-card-footer class="flex justify-center items-center">
        <div class="grid grid-cols-2 gap-2 p-4">
          <p class="flex align-items">
            <mat-icon>wb_sunny</mat-icon>
            {{ weather.weatherData.daily.sunrise[i] | date : 'shortTime' }}
          </p>
          <p class="flex align-items">
            <mat-icon>arrow_upward_alt</mat-icon>
            {{ weather.weatherData.daily.temperature_2m_max![i] | number : '1.1-1' }}°F
          </p>
          <p class="flex align-items">
            <mat-icon>wb_twilight</mat-icon>
            {{ weather.weatherData.daily.sunset[i] | date : 'shortTime' }}
          </p>
          <p class="flex align-items">
            <mat-icon>arrow_downward_alt</mat-icon>
            {{ weather.weatherData.daily.temperature_2m_min![i] | number : '1.1-1' }}°F
          </p>
        </div>
      </mat-card-footer>
    </mat-card>
    }
  </div>
  } }
</div>
