.vote-btn {
  &.upvote.active {
    color: #ff4500;
  }

  &.downvote.active {
    color: #7193ff;
  }
}

.score {
  &.positive {
    color: #ff4500;
  }

  &.negative {
    color: #7193ff;
  }
}

.stat {
  &.upvote-stat {
    color: #ff4500;
  }

  &.downvote-stat {
    color: #7193ff;
  }
}